body {
    background: white url("images/libb.jpg") no-repeat;
    background-size: 100%;
    padding-bottom: 58px;
    min-height: 100vh;
}
h1 {
    color: tomato;
}
li {
    color: white;
}
p {
    color : white;
}
h3 {
    color: tomato;
}
ul {
    list-style: none;
}
footer {
    text-align: center;
    background-color: teal;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}